.mobile .imgBox:hover, imgBox:focus, imgBox:active {
    transform: scale(2.5);
}

.mobile .tags {
    margin-top: -50px;
    margin-right: -40px;
}

.mobile .front .back {
    height: 15vh;
}

.mobile .front {
    margin-top: 6vh;
}

